= extends 'layouts/ext_rails/report' do
  #js_i18n_translations{'data-js': I18n.t("admin.js").to_json}
  #js_routes_paths{'data-js': {}.to_json}
  #js_user_profile{'data-js': {}.to_json}
  #js_abstract_model{'data-js': @abstract_model.to_param}
  #js_flash_messages{'data-js': [].to_json}
  = bootswatch_fonts_prefetch
  .container-fluid{class: "#{@abstract_model.param_key}_report"}
    = yield
