.bundle/
log/*.log
pkg/
ext_bootstrap-*.gem

# KEEP_FILES_BEGIN
node_modules/bootstrap*

node_modules/bootswatch/*/*.css
node_modules/bootswatch/*/*.less
node_modules/bootswatch/*/*.png
node_modules/bootswatch/fonts/*
node_modules/bootswatch/.npmignore
node_modules/bootswatch/LICENSE
node_modules/bootswatch/README.md

node_modules/eonasdan-bootstrap-datetimepicker/*
!node_modules/eonasdan-bootstrap-datetimepicker/src*
node_modules/eonasdan-bootstrap-datetimepicker/src/less*
node_modules/eonasdan-bootstrap-datetimepicker/src/nuget*
!node_modules/eonasdan-bootstrap-datetimepicker/package.json

node_modules/jquery*
node_modules/moment*

node_modules/roboto-fontface/*
!node_modules/roboto-fontface/css*
node_modules/roboto-fontface/css/**/*.css
node_modules/roboto-fontface/css/**/*.less
!node_modules/roboto-fontface/package.json
!node_modules/roboto-fontface/fonts*
# KEEP_FILES_END
